*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.asv
*.dvi
*.spl
*.zip
*.gz
.DS_Store
*.txt
*.pdf
!Copies/Sn_Chapter_Completed_HACKEMACK.pdf
!Copies/DSA_Chapter_NOResults.pdf
!Copies/Copy_Public_Utterance.pdf
!Copies/Defense_DryRun.pdf
!Defense/examples/phd_defense_till.pdf
!Defense/examples/prelim_presentation_till_full.pdf
!Prelims/TST_2015/cert_overview_1_slide.pdf
!Prelims/TST_2015/ragusa_tst_2015.pdf
!Proposal/Copies/Proposal_Hackemack_Complete_Rev0.pdf
!Proposal/Copies/Proposal_Hackemack_Complete_Rev1.pdf
!Proposal/Copies/Proposal_SentToCommittee.pdf
!Copies/annotated_chapters/BF_Chapter_Hackemack.pdf
!Copies/annotated_chapters/Proposal_Hackemack_Rev1_Complete.pdf
!Copies/annotated_chapters/Michael_Hackemack_Defense.pdf
!Copies/annotated_chapters/DSA_Hackemack.pdf
!Copies/annotated_chapters/Dissertation_Hackemack_DRAFT.pdf

